<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<form action="" method="post">
    Личный ключ <textarea name="key" style=" height: auto; width: 100%">{{ key }}</textarea> <br>

    <table style="width: 100%">
        <tr>
            <th style="width: 50%"> Исходный XML  <input type="submit" formaction="?sign" value="Подписать"/>
            <input type="file" name="file" accept="*.xml" style="">
             <input type="submit" formaction="?upload" formenctype="multipart/form-data" value="Залить файл"/></th>
            <th style="width: 50%"> Подписанный <input type="submit" formaction="?verify" value="Проверить"/></th>
        </tr>

        <tr>
            <td style="padding: 5px">
            <textarea name="xml" style=" height: 700px; width: 100%;">{{ xml }}</textarea>
            </td>
            <td style="padding: 5px">
            <textarea name="signed" style=" height: 700px; width: 100%;
             color: {%if is_valid%}limegreen{%else%}red{%endif%}">{{ signed }}</textarea>
            </td>
        </tr>
        <tr>
        </tr>
    </table>


</form>

</body>
</html>
